{% extends 'head-foot.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                 <div class="card-header">
                    <p class="text-center text-success">STUDENT REGISTRATION FORM</p>

                 </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table bg-light">
                            <thead>
                            <th> Student ID</th>
                            <th>Student Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Delete</th>
                            <th>Edit</th>



                            </thead>
                              <tbody>
                              {% for form in form %}
                              <tr>
                                  <td>{{ form.student_id}}</td>
                                  <td>{{ form.name}}</td>
                                  <td>{{ form.email}}</td>
                                  <td>{{ form.gender}}</td>
                                  <td><a href="studentdelete/{{form.id}}">Delete</a></td>
                                  <td><a href="studentedit/{{form.id}}">Update</a></td>


                              </tr>
                              {% endfor %}
                              </tbody>



                        </table>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>

{% endblock %}

